.details {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;

}



.image-container {
    /* aspect-ratio: auto 550 / 550; */
    vertical-align: middle;
    height: 550px;
    width: 550px;

}



.data-container {
    -webkit-box-shadow: 0 1px 8px rgb(0 0 0 / 5%);
    box-shadow: 0 1px 8px rgb(0 0 0 / 5%);
    margin: 0 10px;
    background: white;
    width: 50%;
}


