* {
    margin: 0;
    padding: 0;
}

.aboutPage {
    display: flex;
}

.aboutContainer {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    /* align-items: center; */
    color: white;
    width: 50%;
    margin: 15%;
}


